  /* taust */
  body {
  background-color:lightblue ;
  }

  /* Päises asuvad pealkirjad */
  .headers {
    margin-left: 5rem;
    color: green;
    font-family: "Fredoka";
  }
  
  /* Põhiosas asuv mängukaartide ruudustik */
  .grid-container {
      display: grid;
      grid-template-columns: repeat(6, 120px);
      grid-template-rows: repeat(6, 120px);
      grid-gap: 5px;
      box-sizing: content-box;
      margin-left: 47rem;
      max-width: 1214px; 
    }
    
  
  
  