  /* taust */
  body {
  background-color:lightblue ;
  }

  /* Päises asuvad pealkirjad */
  .headers {
    margin-left: 5rem;
    color: green;
    font-family: "Fredoka";
  }
  
  /* Põhiosas asuv mängukaartide ruudustik */
  .grid-container {
      display: grid;
      grid-template-columns: repeat(6, 120px);
      grid-template-rows: repeat(6, 120px);
      grid-gap: 5px;
      box-sizing: content-box;
      margin-left: 47rem;
      max-width: 1214px; 
    }
    
    /* Kaartide suurused ja välimus */
    .cardbody {
      background-color: rgb(231, 231, 231);
      border: black solid 1px;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  
  .icon {
      width: 90px;
      height: 90px;
      padding: 15px;
    }

    /* peida või too nähtavale CSS */ 
  .hidden {
    opacity: 0;
    transition: opacity 0.3s;
  }
  .visible {
    opacity: 1;
    transition: opacity 0.3s;
  }
  
  