body {
background-color:lightblue ;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 45px;
}

.headers {
  margin-left: 5%;
  color: green;
  font-family: "Fredoka";
}

/* Kaartide ruudustik */ 
.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 120px);
    grid-template-rows: repeat(6, 120px);
    grid-gap: 5px;
    box-sizing: content-box;
    margin-left: 40%;
  }

/* Kaardi ehitus */ 
.cardbody {
    background-color: rgb(231, 231, 231);
    border: black solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Kaartide piltidele määratud suurus */ 
.icon {
    width: 90px;
    height: 90px;
    padding: 15px;
  }

/* Kaartide ja teadete peitmiseks */ 
  .hidden {
    opacity: 0;
    transition: opacity 0.3s;
  }
  .visible {
    opacity: 1;
    transition: opacity 0.3s;
  }

  /* Teade mänguplatsi üleval */ 
.notification {
  color: red;  
  font-family: "Fredoka";
  font-weight: bold;
  margin-left: auto;
  margin-right: auto;
  font-size: 50px;
  }

  /* Väiksemate ekraanide puhul (1200 laius) */
  @media (max-width: 1350px) {
    h1 {
      font-size: 40px;
    }

    h2 {
      font-size: 30px;
    }


    .headers {
      margin-left: 5%;
      color: green;
      font-family: "Fredoka";
    }

    .icon {
      width: 45px;
      height: 45px;
      padding: 7.5px;
    }

    .grid-container {
      display: grid;
      grid-template-columns: repeat(6, 60px);
      grid-template-rows: repeat(6, 60px);
      grid-gap: 5px;
      box-sizing: content-box;
      margin-left: 40%;

      
    }
  }


